<% include templates/header.ejs %>
<link rel="stylesheet" href="/css/change-picture.css">
<section class="container">
<h3>Change your Pictures</h3>
<% if (locals.warning) { %>
	<div class="alert alert-warning" role="alert">
		<% warning %>
	</div>
<% } %>
<% if (locals.success) { %>
	<div class="alert alert-success" role="alert">
		<%= success %>
	</div>
<% } %>
<% if (locals.error) { %>
	<div class="alert alert-danger" role="alert">
		<%= error %>
	</div>
<% } %>
<form action="/change-picture/upload" method="post" enctype="multipart/form-data">
	<div id ="all-images">
	<% var i = 0; %>
	<div id="picture<%= i %>">
	<h5>Profile Picture</h5>
	<div class="alert"></div>
	<% if (locals.pic >= 10) { %>
		<div id='img_contain'><img class="blah" id="blah<%= i %>" align='middle' src="/img/<%= locals.id %>/profile.jpg" alt="your image" title=''/></div> 
	<% } else { %>
		<div id='img_contain'><img class="blah" id="blah<%= i %>" align='middle' src="/img/default.png" alt="your image" title=''/></div> 
	<% } %>
	<div class="input-group"> 
		<div class="custom-file">
			<input type="file" id="image<%= i %>" name="image<%= i %>" class="imgInp custom-file-input" aria-describedby="inputGroupFileAddon01">
			<label class="custom-file-label" id="custom-file-label<%= i %>" for="image<%= i %>">Choose file</label>
		</div>
	</div>
	</div>
	<% if (locals.pic > 10) {
		while (++i <= locals.pic % 10) { %>
	<div id="picture<%= i %>">
		<h5>Picture n°<%= i %></h5>
		<div class="alert"></div>
		<div id='img_contain'><img class="blah" id="blah<%= i %>" align='middle' src="/img/<%= locals.id %>/image<%= i %>.jpg" alt="your image" title=''/></div>
		<div class="input-group"> 
				<div class="custom-file">
					<input type="file" id="image<%= i %>" name="image<%= i %>" class="imgInp custom-file-input" aria-describedby="inputGroupFileAddon01">
					<label class="custom-file-label" id="custom-file-label<%= i %>" for="image<%= i %>">Choose file</label>
				</div>
			</div>
	</div>
	<% }} %>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<% if (i < 5) {%>
	<button type="button" id="moreImages" class="btn btn-primary btn-lg btn-block">Add a Picture</button>
<% } %>
<script type="text/javascript">
	if (<%= i %> == 0)
		var i = "<%= i + 1 %>";
	else
		var i = "<%= i %>";
	$("#moreImages").click(function() {
		if (i < 5) {
			$("#all-images").append(jQuery(`<div id="picture`+ i +`">
			<h5>Picture n°`+ i +`</h5>
			<div class="alert"></div>
			<div id='img_contain'><img class="blah" id="blah`+ i +`" align='middle' src="/img/default.png" alt="your image" title=''/></div>
			<div class="input-group"> 
					<div class="custom-file">
						<input type="file" id="image`+ i +`" name="image`+ i +`" class="imgInp custom-file-input" aria-describedby="inputGroupFileAddon01">
						<label class="custom-file-label" id="custom-file-label`+ i +`" for="image`+ i +`">Choose file</label>
					</div>
				</div>
		</div>`));
		var j = i;
		$("#image" + j).change(function(event) {
			RecurFadeIn();
			if (this.files && this.files[0]) {
				var reader = new FileReader();
				var filename = $("#image" + j).val();
				filename = filename.substring(filename.lastIndexOf('\\')+1);
				reader.onload = function(e) {
					$('#blah' + j).attr('src', e.target.result);
					$('#blah' + j).hide();
					$('#blah' + j).fadeIn(500);
					$('#custom-file-label' + j).text(filename);
				}
				reader.readAsDataURL(this.files[0]);
			} 
			$(".alert").removeClass("loading").hide();
		});
		$("#image" + j).on('click',function(event){
			RecurFadeIn();
		});
		i++;
		if (i == 5) {
			$("#moreImages").remove();
		}
	}
	else {
		$("#moreImages").remove();
	}
	});
	$("#image0").change(function(event) {  
		RecurFadeIn();
		readURL(this);
	});
	$("#image0").on('click',function(event){
		RecurFadeIn();
	});
	$("#image1").change(function(event) {  
		RecurFadeIn();
		readURL1(this);
	});
	$("#image1").on('click',function(event){
		RecurFadeIn();
	});
	$("#image2").change(function(event) {  
		RecurFadeIn();
		readURL2(this);
	});
	$("#image2").on('click',function(event){
		RecurFadeIn();
	});
	$("#image3").change(function(event) {  
		RecurFadeIn();
		readURL3(this);
	});
	$("#image3").on('click',function(event){
		RecurFadeIn();
	});
	$("#image4").change(function(event) {  
		RecurFadeIn();
		readURL4(this);
	});
	$("#image4").on('click',function(event){
		RecurFadeIn();
	});
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			var filename = $("#image0").val();
			filename = filename.substring(filename.lastIndexOf('\\')+1);
			reader.onload = function(e) {
				$('#blah0').attr('src', e.target.result);
				$('#blah0').hide();
				$('#blah0').fadeIn(500);
				$('#custom-file-label0').text(filename);
			}
			reader.readAsDataURL(input.files[0]);
		} 
		$(".alert").removeClass("loading").hide();
	}
	function readURL1(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			var filename = $("#image1").val();
			filename = filename.substring(filename.lastIndexOf('\\')+1);
			reader.onload = function(e) {
				$('#blah1').attr('src', e.target.result);
				$('#blah1').hide();
				$('#blah1').fadeIn(500);
				$('#custom-file-label1').text(filename);
			}
			reader.readAsDataURL(input.files[0]);
		} 
		$(".alert").removeClass("loading").hide();
	}
	function readURL2(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			var filename = $("#image2").val();
			filename = filename.substring(filename.lastIndexOf('\\')+1);
			reader.onload = function(e) {
				$('#blah2').attr('src', e.target.result);
				$('#blah2').hide();
				$('#blah2').fadeIn(500);
				$('#custom-file-label2').text(filename);
			}
			reader.readAsDataURL(input.files[0]);
		} 
		$(".alert").removeClass("loading").hide();
	}
	function readURL3(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			var filename = $("#image3").val();
			filename = filename.substring(filename.lastIndexOf('\\')+1);
			reader.onload = function(e) {
				$('#blah3').attr('src', e.target.result);
				$('#blah3').hide();
				$('#blah3').fadeIn(500);
				$('#custom-file-label3').text(filename);
			}
			reader.readAsDataURL(input.files[0]);
		} 
		$(".alert").removeClass("loading").hide();
	}
	function readURL4(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			var filename = $("#image4").val();
			filename = filename.substring(filename.lastIndexOf('\\')+1);
			reader.onload = function(e) {
				$('#blah4').attr('src', e.target.result);
				$('#blah4').hide();
				$('#blah4').fadeIn(500);
				$('#custom-file-label4').text(filename);
			}
			reader.readAsDataURL(input.files[0]);
		} 
		$(".alert").removeClass("loading").hide();
	}
	function RecurFadeIn(){
		FadeInAlert("Wait for it...");  
	}
	function FadeInAlert(text){
		$(".alert").show();
		$(".alert").text(text).addClass("loading");  
	}
</script>
</section>

<% include templates/footer.ejs %>
