<!DOCTYPE html>
<html>
  <head>
    <title>Map'tcha</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
	<script type="text/javascript" src='/jquery/dist/jquery.js'></script>
	<script type="text/javascript" src='/bootstrap/dist/js/bootstrap.js'></script>
  </head>
<div id="map"></div>
<script>
	// GET LOCATION
	let myLoc = undefined;
	if (navigator.geolocation) { //check if geolocation is available
		navigator.geolocation.getCurrentPosition(function(position){
			myLoc = position;
			$.ajax({
				type: 'POST',
				url: '/maps/update-location',
				dataType: 'json',
				data: {
					lat: myLoc.coords.latitude,
					lng: myLoc.coords.longitude
				}
			});
		});
	}


	// INIT MAP
    var map;
    function initMap() {
        lat = "<%= locals.location.latitude %>";
        if ( lat == "") {
            lat = 0;
            lng = 0;
            zoom = 2;
        } else {
            lat = parseFloat("<%= locals.location.latitude %>");
            lng = parseFloat("<%= locals.location.longitude %>");
            zoom = 12;
        }
		myLatLng = {
			lat: lat,
			lng: lng
		};

        map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
			zoom: zoom,
			streetViewControl: false,
            styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });

        let users = <%- JSON.stringify(locals.users) %> || undefined;
        if (users != undefined) {
			var infowindow = new google.maps.InfoWindow();
            for (i = 0; i < users.length; i++) {
                myLatLng = {
                    lat:  users[i].lat,
                    lng:  users[i].lng
				};
				let markers = [];

                if ((typeof myLatLng.lat == "number" && users[i].pictures > 0) || (users[i].id_usr === <%- locals.session.user.id %> && myLoc !== undefined)) {
                    icon= "/img/loc.png";
                    if (users[i].id_usr === <%- locals.session.user.id %>) {
						icon= "/img/myloc.png";

						if (myLoc !== undefined) {
							myLatLng = {
								lat:  myLoc.coords.latitude,
								lng:  myLoc.coords.longitude
							};
						}
					}

                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        icon: icon,
                        map: map,
                        title: users[i].lastname + " " + users[i].firstname
					});

					infoUsr = '<div id="content">'+
						'<div id="siteNotice">'+
						'</div>' +
						'<a href="/profile?id=' + users[i].id_usr + '">'+
						'<h1 id="firstHeading" class="firstHeading">' +  users[i].lastname + " " + users[i].firstname + '</h1>'+
						'</a>'+
						'<div id="bodyContent">'+
						'<p>' + users[i].bio + '</p>'+
						'<img src="/img/' + users[i].id_usr + '/profile.jpg" style="max-width: 150px;"/>'+
						'</div>'+
						'</div>';

					makeInfoWindowEvent(map, infowindow, infoUsr, marker);

    				markers.push(marker);
                }
            }
		}
		function makeInfoWindowEvent(map, infowindow, contentString, marker) {
			google.maps.event.addListener(marker, 'click', function() {
				infowindow.setContent(contentString);
				infowindow.open(map, marker);
			});
		}
    }
</script>
<div id="googleMaps" style="height: 50%; width:50%;">
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= locals.key %>&callback=initMap"></script>
</div>
