<html lang="en" dir="ltr">
  <head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/glyphicons-only-bootstrap/css/bootstrap.min.css' />
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
	<script type="text/javascript" src='/jquery/dist/jquery.js'></script>
	<script type="text/javascript" src='/bootstrap/dist/js/bootstrap.js'></script>
	<script type="module" src="https://unpkg.com/ionicons@4.5.9-1/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule="" src="https://unpkg.com/ionicons@4.5.9-1/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
	<section id="chat">
		<link rel="stylesheet" href="/css/chat.css">
        <section id="zone_chat">
			<%	var i = -1; %>
			<%	while (++i < locals.msg.length) { %>
					<% if (i == 0) { %>
						<p><%= locals.msg[i].date %></p>
					<%}%>
					<%if (locals.msg[i].id_usr == locals.idToChat) {%>
						<div class='container'>
						<img src='/img/<%= locals.msg[i].id_usr %>/profile.jpg' alt='Avatar'>
						<p><%= locals.msg[i].message %></p>
						<% if (i = 0) { %>
						<span class='time-right'>
						<%= locals.msg[i].time %>
							
						</span></div>
						<%}%>
					<%} else {%>
						<div class='container darker'>
						<img src='/img/<%= locals.msg[i].id_usr %>/profile.jpg' alt='Avatar' class='right'>
						<p><%= locals.msg[i].message %></p>
						<span class='time-left'><%= locals.msg[i].time %></span>
						</div>
					<%}%>
				<%}%>
        </section>

        <form action="" method="get" onSubmit="return formulaire_chat()" id="formmsg" class="input-group mb-3">
			<input type="text" class="form-control" name="message" id="message" placeholder="Votre message..." autofocus autocomplete="off"/>
			<div class="input-group-append">
				<button id="envoi_message" class="btn btn-outline-secondary" type="submit">Send</button>
			</div>
        </form>

        <script src="/socket.io/socket.io.js"></script>
        <script>

            var socket = io.connect();

			key = '<%- locals.key %>';

			socket.emit('joinRoom', key);

            socket.on('message', function(data) {
                insertMessage(data.pseudo, data.message)
			});

            function formulaire_chat() {
                var pseudo = '<%= locals.session.user.username %>';
				var message = $('#message').val();
				socket.emit('message',
				{
					message: message,
					key: key,
					fromid: '<%= locals.session.user.id %>',
					fromuid: pseudo,
					to: '<%= locals.idToChat %>'
				});
                insertMyMessage(pseudo, message);
				$('#message').val('').focus();
				 $("#zone_chat").animate({ scrollTop: 20000000 }, "slow");
                return false;
			};

            function insertMessage(pseudo, message) {
				$('#zone_chat').append(
					"<div class='container'>\
					<img src='/img/" + <%= locals.idToChat %> + "/profile.jpg' alt='Avatar'>\
					<p>" + message + "</p>\
					<span class='time-right'>11:05</span></div>");
			}

			function insertMyMessage(pseudo, message) {
				$('#zone_chat').append(
					"<div class='container darker'>\
					<img src='/img/" + <%= locals.session.user.id %> + "/profile.jpg' alt='Avatar' class='right'>\
					<p>" + message + "</p>\
					<span class='time-left'>11:05</span>\
					</div>");
            }
        </script>
    </section>