<% include templates/header.ejs %>
	<section>
		<link rel="stylesheet" href="/css/chat.css">
        <h1><span class="glyphicon glyphicon-comment"></span><%= locals.user.username %></h1>

        <section id="zone_chat">

        </section>

        <form action="" method="get" onSubmit="return formulaire_chat()">
            <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
            <input type="submit" id="envoi_message" value="Envoyer" />
        </form>

        <script src="/socket.io/socket.io.js"></script>
        <script>

            // Connexion à socket.io
            var socket = io.connect();

			key = '<%- locals.key %>';

			// join room

			socket.emit('joinRoom', key);

            // Quand on reçoit un message, on l'insère dans la page
            socket.on('message', function(data) {
                insertMessage(data.pseudo, data.message)
			});

            // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
            function formulaire_chat() {
                var pseudo = '<%= locals.session.user.username %>';
				var message = $('#message').val();
				socket.emit('message',
				{
					message: message,
					key: key,
					fromid: '<%= locals.session.user.id %>',
					fromuid: pseudo,
					to: '<%= locals.idToChat %>'
				});
                insertMyMessage(pseudo, message); // Affiche le message aussi sur notre page
				$('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
				 $("#zone_chat").animate({ scrollTop: 20000000 }, "slow");
                return false; // Permet de bloquer l'envoi "classique" du formulaire
			};

            // Ajoute un message dans la page
            function insertMessage(pseudo, message) {
				$('#zone_chat').append(
					"<div class='container'>\
					<img src='/img/" + <%= locals.idToChat %> + "/profile.jpg' alt='Avatar'>\
					<p>" + message + "</p>\
					<span class='time-right'>11:05</span></div>");
                // $('#zone_chat').append('<p class="him"><strong>' + pseudo + '</strong> ' + message + '</p>');
			}

			function insertMyMessage(pseudo, message) {
				$('#zone_chat').append(
					"<div class='container darker'>\
					<img src='/img/" + <%= locals.session.user.id %> + "/profile.jpg' alt='Avatar' class='right'>\
					<p>" + message + "</p>\
					<span class='time-left'>11:05</span>\
					</div>");
            }
        </script>
    </section>
<% include templates/footer.ejs %>