<% include templates/header.ejs %>
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/tag.css">

<section class="container">
	<h3>Your Profile <a href="#" id="edit-profile"><span class="glyphicon glyphicon-edit"></span></a></h3>
	<% if (locals.warning) { %>
		<div class="alert alert-warning" role="alert">
			<%= warning %>
		</div>
	<% } %>
	<% if (locals.success) { %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
	<% } %>
	<% if (locals.error) { %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %>
	<div class="info">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<% if (locals.pic >= 10) {
						var i = -1;
						while (++i < locals.pic % 10) { %>
						  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<% }} else { %>
							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<% } %>
					  </ol>
					  <div class="carousel-inner">
					  <% if (locals.pic >= 10 ) {%>
						<div class="carousel-item active profile-pic">
						  <img class="d-block w-100" src="/img/<%= locals.id %>/profile.jpg" alt="First slide">
						  <div class="edit"><a href="/about"><i class="glyphicon glyphicon-pencil"></i></a></div>
						</div>
					  <% } else { %>
					  <div class="carousel-item active profile-pic">
						<img class="d-block w-100" src="/img/default.png" alt="First slide" style="max-height: 300px; max-width: 300px;">
						<div class="edit"><a href="/about"><i class="glyphicon glyphicon-pencil"></i></a></div>
					  </div>
					  <% } %>
					  <% if (locals.pic >=10) {
					  var i = -1;
					  while (++i < locals.pic % 10) { %>
						<div class="carousel-item active">
							<img class="d-block w-100" src="/img/<%= locals.id %>/image<%= i + 1 %>.jpg" alt="First slide">
						</div>
						<% } }%>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<div class="user-profile">
					<fieldset>
						<form method="post" action="/profile/modify" id="form-profile">
							<div class="row">
								<label for="staticName" class="col-sm-3 col-form-label"><b>Name</b></label>
								<div class="col-sm-10">
									<p class="text-left" id="staticName"><%= locals.lastname %> <%= locals.firstname %></p>
								</div>
							</div>
							<div class="row">
								<label for="staticUsername" class="col-sm-4 col-form-label"><b>Username</b></label>
								<div class="col-sm-10">
									<p class="text-left" id="staticUsername"><%= locals.username %></p>
								</div>
							</div>
							<div class="row">
								<label for="staticAge" class="col-sm-4 col-form-label"><b>Age</b></label>
								<div class="col-sm-10">
							<p class="text-left" id="staticAge"><%= locals.age %></p>
						</div>
					</div>
					<div class="row">
						<label for="gender" class="col-sm-4 col-form-label"><b>Gender</b></label>
						<div class="col-sm-10">
							<p class="text-left" id="gender"><%= locals.gender %></p>
						</div>
					</div>
					<div class="row">
						<label for="orientation" class="col-sm-3 col-form-label"><b>Orientation</b></label>
						<div class="col-sm-12">
							<p class="text-left" id="orientation"><%= locals.orientation %></p>
						</div>
					</div>
					<div class="row">
						<label for="bio" class="col-sm-3 col-form-label"><b>Biography</b></label>
						<div class="col-sm-12">
							<p class="text-left" id="bio"><%= locals.bio %></p>
						</div>
					</div>
					<div class="row">
						<label for="tags" class="col-sm-3 col-form-label"><b>Tags</b></label>
						<div class="col-sm-12">
							<p class="text-left" id="tags"></p>
						</div>
					</div>
					<span style="display: none;" id="save"></span>
				</form>
			</fieldset>
		</div>
	</div>
	<script src="/js/tag.js"></script>
</section>


<script src="/socket.io/socket.io.js"></script>
<script>

	<% if (locals.id != locals.session.user.id) { %>

			var socket = io.connect();

			socket.emit("send_notif",
		  {
				type: "visit",
				id: "<%- locals.id %>",
				link: "/profile?id=",
				msg: "This user visited you",
				title: "Visit from: ",
				from: {
					username: "<%- locals.session.user.username %>",
					id: "<%- locals.session.user.id %>"
				}
			});
	<% } %>

	$(document).ready(function(){
			editProfile = $("#edit-profile");
			staticName = $("#staticName");
			username = $("#staticUsername");
			orientation = $("#orientation");
			bio = $("#bio");
			tags = $("#tags");
			tagsSplit =	"<%= locals.tags %>".split(',');
			userProfile = $("#user-profile");
			save = $("#save");

			for(var i = 0; i < tagsSplit.length; i++) {
				if (i < tagsSplit.length - 1) {
					tags.append('<a class="tag" href="#">' + tagsSplit[i] + '</a>, ');
					save.append('<p class="save" style="display:none;">' + tagsSplit[i] + '</p>')
				}
				else {
					tags.append('<a class="tag" href="#">' + tagsSplit[i] + '</a>');
					save.append('<p class="save" style="display:none;">' + tagsSplit[i] + '</p>')
				}
			}

			editProfile.click(function () {
					editProfile.remove();
					staticName.replaceWith('<input type="text" class="form-control" id="lname" name="lname" placeholder="Nom de famille" value="<%= locals.lastname %>" onkeyup="validator(this)"><input type="text" class="form-control" id="fname" name="fname" placeholder="Prénom" value="<%= locals.firstname %>" onkeyup="validator(this)">');
					username.replaceWith('<input type="text" class="form-control" id="uname" name="uname" value="<%= locals.username %>" placeholder="<%= locals.username %>" aria-describedby="validationTooltipUsernamePrepend" onkeyup="validator(this)" required>');
					orientation.replaceWith(`<select class="custom-select mr-sm-2" id="orientation" name="orientation">
							<option value="" selected>Choose...</option>
							<option value="Heterosexual">Heterosexual</option>
							<option value="Homosexual">Homosexual</option>
							<option value="Bisexual">Bisexual</option>
							</select>`);
					bio.replaceWith(`<textarea class="form-control" id="bio" name="bio" rows="3" maxlength="500"><%= locals.bio %></textarea>`);
					tags.replaceWith('<div class="tags-input" data-name="tags" id="tags"></div>');
					tags = $("#tags");
					$.getScript("/js/tag.js");
					for(var i = 0; i < tagsSplit.length; i++) {
						tags.append('<span class="tag">' + tagsSplit[i] +'</span>');
					}
					$('#form-profile').append(`<div class="row">
						<div class="col-sm-3 col-form-label">
							<button type="submit" class="btn btn-outline-success">Modify</button>
						</div>
					</div>`)
				});
		})
</script>


<% include templates/footer.ejs %>
