<% include templates/header.ejs %>
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/tag.css">

<script>
	function displayLocation(latitude,longitude){
        var request = new XMLHttpRequest();

        var method = 'GET';
        var url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+latitude+','+longitude+'&key=<%- locals.key %>';
        var async = true;

        request.open(method, url, async);
        request.onreadystatechange = function(){
          if(request.readyState == 4 && request.status == 200){
            var data = JSON.parse(request.responseText);
            var address = data.results[0];
            var arrAddress = address.address_components;
						var itemRoute='';
						var itemLocality='';
						var itemCountry='';
						var itemPc='';
						var itemSnumber='';

						// iterate through address_component array
						$.each(arrAddress, function (i, address_component) {

							if (address_component.types[0] == "route"){
								itemRoute = address_component.long_name;
							}

							if (address_component.types[0] == "locality"){
								itemLocality = address_component.long_name;
							}

							if (address_component.types[0] == "country"){
								itemCountry = address_component.long_name;
							}

							if (address_component.types[0] == "postal_code_prefix"){
								itemPc = address_component.long_name;
							}

							if (address_component.types[0] == "street_number"){
								itemSnumber = address_component.long_name;
							}
						});
						$("#city").html(itemLocality + ", " + itemCountry);
						$.ajax({
							type: 'POST',
							url: '/maps/city-location',
							dataType: 'text',
							data: {city: itemLocality + ", " + itemCountry}
						})
          }
        };
        request.send(1);
    };

</script>

<section class="container">
	<h3><%= locals.lastname %> <%= locals.firstname %> <% if (locals.id != locals.session.user.id) { %><button id="status" class="offline"></button> <span id="last-con"><span><% } %> <a href="#" id="edit-profile"><% if (locals.id == locals.session.user.id || locals.id == undefined) { %><span class="glyphicon glyphicon-edit"></span><% } %></a></h3>
	<% if (locals.warning) { %>
		<div class="alert alert-warning" role="alert">
			<%= warning %>
		</div>
	<% } %>
	<% if (locals.success) { %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
	<% } %>
	<% if (locals.error) { %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %>
	<div class="info">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<% if (locals.id != locals.session.user.id) { %>
						<div id="like">
							<button id="likeButton" class="like <%= locals.like %>"> <% if (locals.like == "green") { %> Unlike <% } else { %> Like <% } %> </button>
						</div>
					<% } %>
					<ol class="carousel-indicators">
						<% if (locals.pic >= 10) { %>
							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<% } %>
						<% if (locals.pic >= 10) {
						var i = -1;
						while (++i < locals.pic % 10) { %>
						  <li data-target="#carouselExampleIndicators" data-slide-to="<% i + 1 %>"></li>
						<% }} else { %>
							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<% } %>
					  </ol>
					  <div class="carousel-inner">
					  <% if (locals.id < 1001) { %>
						<div class="carousel-item active profile-pic">
						<img class="d-block w-100" src="/img/default.png" alt="First slide">
						<% if (locals.id != locals.session.user.id && locals.id != undefined) { %>
							<div class="report"><a href="/report?id=<%= locals.id %>"><i class="glyphicon glyphicon-trash"></i></a></div>
						<% } %>
						</div>
					  <% } else if (locals.pic >= 10 ) {%>
						<div class="carousel-item active profile-pic">
						<img class="d-block w-100" src="/img/<%= locals.id %>/profile.jpg" alt="First slide">
						<% if (locals.id == locals.session.user.id || locals.id == undefined) { %>
							<div class="edit"><a href="/change-picture"><i class="glyphicon glyphicon-pencil"></i></a></div>
						<% } else { %>
							<div class="report"><a href="/report?id=<%= locals.id %>"><i class="glyphicon glyphicon-trash"></i></a></div>
						<% } %>
						</div>
					  <% } else { %>
						<div class="carousel-item active profile-pic">
							<img class="d-block w-100" src="/img/default.png" alt="First slide">
							<% if (locals.id == locals.session.user.id || locals.id == undefined) { %>
								<div class="edit"><a href="/change-picture"><i class="glyphicon glyphicon-pencil"></i></a></div>
							<% } else { %>
								<div class="report"><a href="/report?id=<%= locals.id %>"><i class="glyphicon glyphicon-trash"></i></a></div>
							<% } %>
						</div>
					  <% } %>
					  <% if (locals.pic >=10) {
					  var i = -1;
					  while (++i < locals.pic % 10) { %>
						<div class="carousel-item profile-pic">
							<img class="d-block w-100" src="/img/<%= locals.id %>/image<%= i + 1 %>.jpg" alt="First slide">
							<% if (locals.id == locals.session.user.id || locals.id == undefined) { %>
								<div class="edit"><a href="/change-picture"><i class="glyphicon glyphicon-pencil"></i></a></div>
							<% } %>
						</div>
					<% } }%>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<div class="user-profile">
				<fieldset>
					<form method="post" action="/profile/modify" id="form-profile">
						<div class="row">
							<img src="/img/flame.png" style="width: 80px;"/>
							<div class="col-sm-10" id="pop-score">
								<span class="text-left"><%= locals.pop %></span>
							</div>
						</div>
						<div class="row">
							<label for="staticName" class="col-sm-3 col-form-label"><b>Name</b></label>
							<div class="col-sm-10">
								<p class="text-left" id="staticName"><%= locals.lastname %> <%= locals.firstname %></p>
							</div>
						</div>
						<div class="row">
							<label for="staticUsername" class="col-sm-4 col-form-label"><b>Username</b></label>
							<div class="col-sm-10">
								<p class="text-left" id="staticUsername"><%= locals.username %></p>
							</div>
						</div>
						<div class="row">
							<label for="staticAge" class="col-sm-4 col-form-label"><b>Age</b></label>
							<div class="col-sm-10">
								<p class="text-left" id="staticAge"><%= locals.age %></p>
							</div>
						</div>
						<div class="row">
							<label for="gender" class="col-sm-4 col-form-label"><b>Gender</b></label>
							<div class="col-sm-10">
								<p class="text-left" id="gender"><%= locals.gender %></p>
							</div>
						</div>
						<div class="row">
							<label for="orientation" class="col-sm-3 col-form-label"><b>Orientation</b></label>
							<div class="col-sm-12">
								<p class="text-left" id="orientation"><%= locals.orientation %></p>
							</div>
						</div>
						<div class="row">
							<label for="bio" class="col-sm-3 col-form-label"><b>Biography</b></label>
							<div class="col-sm-12">
								<p class="text-left" id="bio"><%= locals.bio %></p>
							</div>
						</div>
						<div class="row">
							<label for="tags" class="col-sm-3 col-form-label"><b>Tags</b></label>
							<div class="col-sm-12">
								<p class="text-left" id="tags"></p>
							</div>
						</div>
						<div class="row">
							<label for="city" class="col-sm-4 col-form-label"><b>Location</b></label>
							<div class="col-sm-10">
								<p class="text-left" id="city"></p>
							</div>
						</div>
						<span style="display: none;" id="save"></span>
					</form>
					<% if (locals.id != locals.session.user.id && locals.id != undefined) { %>
						<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModalCenter">Block This User</button>
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<form method="post" action="/profile/block_user?id=<%= locals.id %>">
							<div class="modal-dialog modal-dialog-centered" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body">
								Are you sure you want to block <b><%= locals.lastname %> <%= locals.firstname %></b> ?
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								  <button type="submit" class="btn btn-outline-danger">Block It</button>
								</div>
							  </div>
							</div>
						</form>
						  </div>
					<% } %>
				</fieldset>
		</div>
	</div>
	<script src="/js/tag.js"></script>
</section>


<script src="/socket.io/socket.io.js"></script>
<script>

	<% if (locals.id != locals.session.user.id) { %>

			var socket = io.connect();

			socket.emit("send_notif",
		  	{
				type: "visit",
				id: "<%- locals.id %>",
				link: "/profile?id=",
				msg: "This user visited you",
				title: "Visit from: ",
				from: {
					username: "<%- locals.session.user.username %>",
					id: "<%- locals.session.user.id %>"
				}
			});

			socket.on('status', function(data){

				var isUserOnline = false;
				if (data[<%- locals.id %>] != null) {
					isUserOnline = data[<%- locals.id %>].online
					if (isUserOnline) {
						$("#status").removeClass('offline');
						$("#status").addClass('online');
						$("#last-con").html(" ");
					} else {
						$("#status").removeClass('online');
						$("#status").addClass('offline');
						$("#last-con").html(data[<%- locals.id %>].visit);
					}
				}
			});

		var likeVal = "<%- locals.like %>" == "green" ? "unlike" : "like";
		$("#likeButton").click(function () {
				var id = "<%- locals.id %>";
				var username = "<%- locals.username %>";
				if (likeVal == "unlike") {
					likeVal = "like";
					$("#likeButton").removeClass("green");
					$("#likeButton").addClass("red");
					$("#likeButton").html("Like");
					$.ajax({
						type: 'POST',
						url: '/swipe/dislike',
						dataType: 'text',
						data: {id: id, username: username}
					})
				} else {
					likeVal = "unlike";
					$("#likeButton").removeClass("red");
					$("#likeButton").addClass("green");
					$("#likeButton").html("Unlike");
					$.ajax({
						type: 'POST',
						url: '/swipe/like',
						dataType: 'text',
						data: {id: id, username: username}
					}).done(function(data) {
						if (data === 'match') {
							data = {
								link: "/matchat/",
								msg: "You just matched !",
								title: "Match with: ",
								from: {
									username: username,
									id: id
								}
							};
							insertnotif(data);
							data = {
								id: id,
								link: "/matchat/",
								msg: "You just matched !",
								title: "Match with: ",
								from: {
									username: "<%- locals.session.user.username %>",
									id: "<%- locals.session.user.id %>"
								}
							};
							socket.emit("send_notif", data);
						} else if (data === 'liked') {
							socket.emit("send_notif",
							{
								id: id,
								link: "/profile?id=",
								msg: "This user liked you",
								title: "Like from: ",
								from: {
									username: "<%- locals.session.user.username %>",
									id: "<%- locals.session.user.id %>"
								}
							});
						}
					});
				}
			});
	<% } %>

	<% if (locals.id == locals.session.user.id || locals.id == undefined) { %>

	$(document).ready(function(){
			editProfile = $("#edit-profile");
			staticName = $("#staticName");
			username = $("#staticUsername");
			orientation = $("#orientation");
			bio = $("#bio");
			tags = $("#tags");
			tagsSplit =	"<%= locals.tags %>".split(',');
			userProfile = $("#user-profile");
			city = $("#city");
			save = $("#save");

			for(var i = 0; i < tagsSplit.length; i++) {
				if (i < tagsSplit.length - 1) {
					tags.append('<a class="tag" href="#">' + tagsSplit[i] + '</a> &nbsp');
					save.append('<p class="save" style="display:none;">' + tagsSplit[i] + '</p>')
				}
				else {
					tags.append('<a class="tag" href="#">' + tagsSplit[i] + '</a>');
					save.append('<p class="save" style="display:none;">' + tagsSplit[i] + '</p>')
				}
			}


			editProfile.click(function () {
					editProfile.remove();
					staticName.replaceWith('<input type="text" class="form-control" id="lname" name="lname" placeholder="Nom de famille" value="<%= locals.lastname %>" onkeyup="validator(this)"><input type="text" class="form-control" id="fname" name="fname" placeholder="Prénom" value="<%= locals.firstname %>">');
					username.replaceWith('<input type="text" class="form-control" id="uname" name="uname" value="<%= locals.username %>" placeholder="<%= locals.username %>" aria-describedby="validationTooltipUsernamePrepend" required>');
					orientation.replaceWith(`<select class="custom-select mr-sm-2" id="orientation" name="orientation">
							<option value="" selected>Choose...</option>
							<option value="Heterosexual">Heterosexual</option>
							<option value="Homosexual">Homosexual</option>
							<option value="Bisexual">Bisexual</option>
							</select>`);
					bio.replaceWith(`<textarea class="form-control" id="bio" name="bio" rows="3" maxlength="500"><%= locals.bio %></textarea>`);
					city.replaceWith('<input type="text" class="form-control" id="city" name="city" value="<%= locals.city %>" placeholder="<%= locals.city %>" aria-describedby="validationTooltipUsernamePrepend">');
					tags.replaceWith('<div class="tags-input" data-name="tags" id="tags"></div>');
					tags = $("#tags");
					$.getScript("/js/tag.js");
					for(var i = 0; i < tagsSplit.length; i++) {
						tags.append('<span class="tag">' + tagsSplit[i] +'</span>');
					}
					$('#form-profile').append(`<div class="row">
						<div class="col-sm-3 col-form-label">
							<button type="submit" class="btn btn-outline-success">Modify</button>
						</div>
					</div>`)
			});
		})
	<% } %>

	$(document).ready(function() {
			if ("<%- locals.coords.lat %>" !== "" && "<%- locals.city %>" == "") {
				displayLocation("<%- locals.coords.lat %>", "<%- locals.coords.lng %>");
			} else if ("<%- locals.city %>" != "") {
				$("#city").html("<%- locals.city %>");
			}

			var rgbToHex = function (rgb) {
				var hex = Number(rgb).toString(16);
				if (hex.length < 2) {
					hex = "0" + hex;
				}
				return hex;
			};

			let popScore = $("#pop-score span").html();
			let red = (popScore / 200) * 255 > 255 ? 255: parseInt((popScore / 200) * 255);
			let blue = parseInt(255 - red);
			$("#pop-score span").css("color", rgbToHex(red) + rgbToHex(0) + rgbToHex(blue));
	});
</script>


<% include templates/footer.ejs %>
